@import "tailwindcss";

body {
  background: rgb(255, 255, 255);
  background-image: radial-gradient(
    rgba(197, 197, 197, 0.616) 0.9px,
    transparent 0
  );
  background-size: 10px 10px;
  background-position: -15px -15px;
}
